body {
    font-family: 'Segoe UI', Tahoma, Geneve, Verdana, sans-serif; /* Fonte mais moderna */
    background-color: #f4f6f8;
    color: #333;
    margin: 0;
    /* display: flex;
    justify-content: center;
    padding: 20px; */
}

.container {
    background: white;
    padding: 0;
    max-width: 1400px;
    width: 95%;
    margin: 40px;
    background-color: transparent;
    box-shadow: none;
}

/* Container dos Cards (O Grid) */
#posts-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px; 
    margin-top: 30px;
    width: 100%;
}
/* Tratamento para quando estiver "Carregando..." ou vazio */
#posts-list p {
    grid-column: 1 / -1; /* Ocupa a largura toda */
    text-align: center;
    font-size: 1.2rem;
    color: #666;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

button.delete {
    background-color: #dc3545;
    width: auto;
}

.post-card {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.post-title {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.post-meta {
    color: #888;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

h2 {
    text-align: center;
    color: #333;
}