name: CI/CD Frontend (Monorepo)

on:
    push:
        branches: [ "main" ]
        # só roda se mexerem na pasta frontend
        paths:
            - 'frontend/**'
            - '.github/workflows/frontend.yml'

jobs:
    build-and-push:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout do código
              uses: actions/checkout@v4

            # Login do DockerHub
            - name: Login no Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}

            # Build and Push
            - name: Build and push Docker image
              uses: docker/build-push-action@v5
              with:
                context: ./frontend
                file: ./frontend/Dockerfile
                push: true
                # Atenção: O nome aqui deve ser diferente do backend
                tags: ${{ secrets.DOCKER_USERNAME }}/blogging-escola-frontend:latest
